html,
body {
  padding: 0;
  margin: 0;
  font-family: Segoe UI, -apple-system, BlinkMacSystemFont, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #707070;
}
::-webkit-scrollbar {
  width: 6px;
  height: 0;
  background: #dee8f1;
}
::-webkit-scrollbar-thumb {
  background: #0e3665;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-weight: 600;
  font-size: 4rem;
  margin: 15px;
}

* {
  box-sizing: border-box;
}
